body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background: linear-gradient(135deg,#f8de7e,#39393f); */
    background: linear-gradient(130deg,#26538d,#f0ffff);
}
.brand{
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(5, 5, 5);
    font-family: cursive
    

}


.box{
    
    position: absolute;
    opacity: 0.8;
    /* backdrop-filter: blur(10px); */
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
    /* box-shadow: inset 0 0 10px rgba(0,0,0,0); */
    /* width: auto; */
    width: 400px;
    background-color: aliceblue;
    text-align: center;
     background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
    /* margin-right: 50%; */


}
p{
    font-size: 15px;
    color: rgb(77, 76, 76);
    margin: 20px;

    
}
.look{
    text-decoration: none;
    color: rgb(18, 16, 16);     }
.box2{
    padding: 40px;
    /* width: 10px; */
    border-radius: 50px;
    /* text-decoration: none; */
}
input{
    padding: 10px;
    width: 80%;
    font-size: 15px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 5px;
}

.foot{
    padding: 0.1ch;
    /* position: absolute; */
    bottom: 0px;
    font-size: 15px;
    color: rgb(10, 9, 9);
    /* margin-left: 40px; */
    text-align: center;
}
#pass{
    font-size: 15px;
    color: rgb(10, 9, 9);
}
button{
    padding: 10px 30px;
    font-size: 17px;
    width: 80%;
    /* text-decoration: none; */
    border: none;
    border-radius: 5px;
    background-color: rgb(38, 83, 141);
    background: linear-gradient(130deg,#26538d,#66e9e9);
     /* background: linear-gradient(260deg,#f8de7e,#39393f); */
    color: rgb(18, 16, 16);
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover {
  /* transform: translateY(-2px); */
   transform: translateY(-2px) scale(1.05);
   /* transform: perspective(500px) ; */
  /* transform: translateZ(30px);  */
  box-shadow: 0 10px 25px rgba(58, 57, 57, 0.3);
  filter: brightness(1.1);
}