
body { 
  margin: 0;
 padding: 0;
  min-height: 5%;
 width: 100%;
background-color: rgb(12, 10, 10);
  background-image: url("background.jpg");
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.search-wrapper{
  width: 100%;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  border: 2px solid #0a2a5e;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 50px;
  padding: 14px 22px;
}

.search-wrapper i{
  font-size: 20px;
  color: #0a2a5e;
  margin-right: 14px;
}

.search-wrapper input{
  border: none;
  outline: none;
  font-size: 20px;
  width: 100%;
}

.search-wrapper input::placeholder{
  color:#6b7280;
}

.navbar {
    position: sticky;

  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 95%;
  /* background: rgba(0,0,0,0.7); */
  color: rgb(252, 252, 252);
  padding: 15px 40px;
}
.nav-left {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: cursive;
  color: rgb(255, 255, 255);
}
.nav-right {
  
  display: flex;
  gap: 15px;
  justify-content: flex-end;
  
}
.nav-btn {
  width: 90px;
  opacity: 0.9;
  display: inline-block;     
  color: rgb(11, 10, 10);
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  font-size: 15px;
  padding: 8px 12px;
}



.trending{
  color: rgb(202, 199, 199);
  font-family: cursive;
  font-size: xx-large;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-top: 1000px;
}
/*  hover effect  for trending*/
.wrapper{
    min-height: 100vh;
  /* display: flex; */
  justify-content: center;   /* left-right center */
  align-items: flex-start;   /* top se start */
  padding-top: 4vh;    
 
  font-size: x-large;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  gap: 50px;
  /* flex-wrap: nowrap; */
}
.card{
  width: 200px;
  height: 50px;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-radius: 8px;
  box-shadow: 0px 8px 2px rgba(0,0,0,0.11);
  cursor: pointer;
  transition: all 0.3s ease; filter: 0.3s ease; 
}
.wrapper:has(.card:hover) .card:not(:hover){
  filter: blur(5px);
  transform: scale(.9,.9);

}
.card:hover{
  transform: scale(1.1);

}

/* footer styling */
.connect{
  color: rgb(255, 255, 255);
  font-family: cursive;
  font-size: x-large;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin: 0px;

}


ul {
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  gap:100px ;
}
li{
  list-style: none;
  margin: 200px 25px;
}
.fa-brands {
  color:#262626;
  font-size: 40px;
  line-height: 80px;
  transition:  0.3s ;
  padding-right: 14px;
}
a {
  width: 210px;
  height: 80px;
  background: #fff;
  text-decoration: none;
  display: block;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  box-shadow: -20px 20px 10px rgba(0,0,0,0,0);
}
a span{
  color: #262626;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  letter-spacing: 4px;
  translate: .5s;
  }
  a:before{
    content: '';
    position: absolute;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    top: 10px;
    left: -20px;
     transform: rotate(0deg) skewy(-45deg) ;
  }
  a:after{
    content: '';
    position: absolute;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    bottom: -20px;
    left: -10px;
     transform: rotate(0deg) skew(-45deg) ;
  }
  a:hover{
    transform: rotate(-30deg) skew(25deg) translate(25px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,0);
  }
  li:hover .fa-brands,
  li:hover span{
    color: #fcfafa;
  }
  li:hover:nth-child(1) {
    & a{
      background: #3b5998;
      &::before{
        background: #365492;
      } 
      &::after{
        background: #4a69ad;
      }
    }
  }
  li:hover:nth-child(2) {
    & a{
      background: #00aced;
      &::before{
        background: #097aa5;
      } 
      &::after{
        background: #53b9e0;
      }
    }
  }
  li:hover:nth-child(3) {
    & a{
      background: #f90466;
      &::before{
        background: #f30947;
      } 
      &::after{
        background: #f62f67;
      }
    }
  }
  li:hover:nth-child(4) {
    & a{
      background: #f4461a;
      &::before{
        background: #f4461a;
      } 
      &::after{
        background: #eb3333;
      }
    }
  }
  /* Footer styling */
  .footer {
  background: #000;
  color: #aaa;
  padding: 20px 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.footer-links a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  color: #fff;
}








   